<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue Todo</title>
</head>

<body>
    <div id="app">
        <h1>Todo App</h1>
        <!-- v- 는 동적바인딩 가능하게 해줌 -->
        <span v-bind:title='message'>
            내 위에 마우스를 올려봐
        </span>
        <br />
        <br />
        <input type='text' v-model='inputText' v-on:keyup.enter='addItem' />
        <button v-on:click='addItem'>Add</button>
        <button v-on:click='fetchItems'>Fetch</button>

        <!-- 
            v-for 는 key 와 항상 함께 사용
            <li
                v-for="todo in todos"
                :key="todo:id"
            >
                {{todo.text}}
            </li>
        -->
        <ul>
            <li v-for="(item, index) in todoItems">
                {{ item }}
                <button v-on:click='removeItem(item, index)'>remove</button>
            </li>
        </ul>

        <!--
        이제 각 todo-item 에 todo 객체를 제공합니다.
        화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
        또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
        -->
        <h2>Local Storage</h2>
        <ul>
            <todo-item v-for="(item, index) in fullList" v-bind:todo="item" v-bind:key="index">
            </todo-item>
        </ul>



    </div>

    <script src="index.js"></script>
</body>

</html>